doctype html
html
  head
    title Comments - student3
    link(rel='stylesheet' href='/css/student3.css')
  body
    h1 Student Comments
    form#commentForm
      input(type="text" name="comment" placeholder="Add a comment")
      button(type="submit") Submit

    ul#comments-list
      li No comments yet
    script(src='/public/js/student3')
