doctype html
html
  head
    title Party - student1
    link(rel='stylesheet' href='/css/student3.css')
  body
    h1 Adam Jalyo
    h2.title Party  

    section 
      h2 location 
      p 
      | This major takes place in the beautiful state of Iowa, there are many corn fields
      | to run through and party in! We chose the state of Iowa because we felt it encompasses the ideology of partying.
      
    section 
      h2 About 
      section
        h3 Introduction To Partying 
        p Partying isn't a major just anyone could enroll in. It takes a special kind of person who can put in many hours of hard work and dedication. This might seem daunting but it is well worth the time spent. 
      section 
        h3 Travel Opportunities 
        p There are many opportunities for students pursuing a party degree to visit other campuses and party with different students. This allows students to experience different customs and traditions.
      section
        h3 Meet New People
        p One of the major draws of this major is the opportunities to meet new people. This is a social major where you will need to interact with many different people, forming new connections and bonds. 

    section
      h2 Things To Do 
      ul 
        li Go to the local cornfield 
        li Join a local frat house
        li Meet lots of new people

    section
      h2 Gallery 
      img(src="img/cornfield-party.jpg", alt="A college party taking place in a cornfield")
      img(src="img/college-party.png", alt="College students at a party")

    section
      h2 
      a(href='/comments') Student Comments
      ul#comments-list

