doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title Department of Europa's Studies - student1
body
    h1 Will White
    h2 Europa's Studies
    section 
    h2 Location
    p The Department of Europa's Studies is located on 1610 W Galilean Dr, Glacier Creek, Europa. 
    section 
    h2 About
        section 
        h3 Purpose
        p The Department of Europa's Studies is involved with the goal of expanding our understanding and knowledge of our Moon Europa. We encourage the advancement of our students curiosity to learn in depth about the history and geology of Europa. We are missioned to creating an environment where students can learn about our Moon with hands on experiments and labs. 
        section
        h3 Importance of Europa's Studies 
        p The knowledge of our Moons geology and history is constantly shifting, revealing new vital information for the well being of Europa's residents. For this purpose, it is extremely important to continue in our research and advancements towards our understanding of Europa, and new innovative minds are a necessity for this. The future of Europa and its residents is dependant on our ability to research and understand our Moon.
        section 
        h3 Joining the Team 
        p Students interested in the Department of Europa's Studies can become a part of the team by declaring the Europa's Studies major. Further assistance can be found by emailing, calling, or visiting our department in person. 
        ul
            div Email: europastudies@unkownuniveristy.com
            div Phone: 160-940-1940
            div Address: 1610 W Galilean Dr, Glacier Creek, Europa
        section 
        h3 Getting Involved
        ul 
            li 
                img(src="Ice-Cave.png")
            li
                img(src="Ice-Drill.png")

